{{ block title }}
    Game 2
{{ endblock }}
{{ block content }}

    <head>
    <style>
        .otree-title {
            background: #EEF5FF;
            font-size: 40px;
            text-align: center;
            padding: 5% 0% 2% 0%;
        }
        .otree-body {
            max-width:1600px
        }
        .otree-btn-next {
            float: right;
            margin-right: 1%;
        }
        p {
            font-size: 20px;
        }
    </style>
    </head>

    <table style="margin-top: 4%">
        <tr>
            <td style="width: 40%">
                {{ if player.participant.game3 == 'linear' }}
                <p>A <b> key difference </b> with Game 3 is that the combined payment to RED and BLUE is increasing,
                but in a linear fashion, meaning it is <b> increased by the same amount each turn </b>. The game flow and
                the payments for different combinations of choices are shown in the figure below. Understanding
                the new payments is crucial. So please take a few minutes to look over the following figure. </p>
                {{ endif }}

            </td>
            <td style="padding-left: 2%">
                {{ if player.participant.game3 == 'standard' }}
                    <img class="image" src="{{ static 'centipede_game/exp6.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game3 == 'constant' }}
                    <img class="image" src="{{ static 'centipede_game/con6.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game3 == 'linear' }}
                    <img class="image" src="{{ static 'centipede_game/lin6.png' }}" style="width:100%;"/>
                {{ endif }}
            </td>
        </tr>
    </table>


    <button class = 'otree-btn-next btn btn-primary' id='next'>
        Next
    </button>


    <script>
        document.getElementById("next").disabled = true;
        setTimeout(() => {
          document.getElementById("next").disabled = false;
        }, "10000");
    </script>




{{ endblock }}

