{{ block title }}
    Game 1
{{ endblock }}
{{ block content }}

    <head>
    <style>
    h2 {text-align: center;}
    </style>
    </head>

    <table style="margin-top: 4%">
        <tr>
            <td style="width: 45%">
                <p>RED now must once again make a choice to CONTINUE or STOP as shown in the figure below. </p>
                <p> (click 'Next' to advance) </p>
            </td>
            <td style="padding-left: 2%">
                {{ if player.participant.game1 == 'standard' }}
                    <img class="image" src="{{ static 'centipede_game/Game1StandardExplanation3.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game1 == 'constant' }}
                    <img class="image" src="{{ static 'centipede_game/Game1ConstantExplanation3.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game1 == 'linear' }}
                    <img class="image" src="{{ static 'centipede_game/Game1LinearExplanation3.png' }}" style="width:100%;"/>
                {{ endif }}
            </td>
        </tr>
    </table>

    {{ next_button }}


{{ endblock }}

