{{ block title }}
    Game 2
{{ endblock }}
{{ block content }}

    <head>
    <style>
        .otree-title {
            background: #EEF5FF;
            font-size: 40px;
            text-align: center;
            padding: 5% 0% 2% 0%;
        }
        .otree-body {
            max-width:1600px
        }
        .otree-btn-next {
            float: right;
            margin-right: 1%;
        }
        p {
            font-size: 20px;
        }
    </style>
    </head>

    <table style="margin-top: 4%">
        <tr>
            <td style="width: 40%">

                <p>Game 2 will be conducted in a similar fashion as Game 1.</p>
                <p>Once again, the game starts on RED’s turn who has two choices shown by the red lines:
                CONTINUE or END. If RED continues, BLUE now has the same two choices illustrated by
                blue lines.</p>

                {{ if player.participant.game2 == 'constant' and player.participant.game1 == 'standard'}}
                <p>The difference in Game 2 is the number of LD each participant receives at the different possible
                game endings. Between each turn of Game 1, the piles of money were first doubled. Then, the two
                piles were swapped. In Game 2, 100LD is removed from the smaller pile and 100LD is added to
                the larger pile. Then, the two piles are swapped. This is shown in the figure to the right.
                </p>
                {{ endif }}
                {{ if player.participant.game2 == 'constant' and player.participant.game1 == 'linear'}}
                <p>The difference in Game 2 is the number of LD each participant receives at the different possible
                game endings. Between each turn of Game 1, 100LD was added to both piles.
                Then, the two piles were swapped. In Game 2, 100LD is transferred from the smaller pile to the larger pile.
                Then, the two piles are swapped. This is shown in the figure to the right.
                </p>
                {{ endif }}

                {{ if player.participant.game2 == 'linear' and player.participant.game1 == 'standard'}}
                <p>The difference in Game 2 is the number of LD each participant receives at the different possible
                game endings. Between each turn of Game 1, the piles of money were first doubled. Then, the two
                piles were swapped. In Game 2, 100LD is added to both piles.
                Then, the two piles are swapped. This is shown in the figure to the right.
                </p>
                {{ endif }}
                {{ if player.participant.game2 == 'linear' and player.participant.game1 == 'constant'}}
                <p>The difference in Game 2 is the number of LD each participant receives at the different possible
                game endings. Between each turn of Game 1, 100LD was transferred from the smaller pile to the larger pile.
                Then, the two piles were swapped. In Game 2, 100LD is added to both piles.
                Then, the two piles are swapped. This is shown in the figure to the right.
                </p>
                {{ endif }}

                {{ if player.participant.game2 == 'standard' and player.participant.game1 == 'constant'}}
                <p>The difference in Game 2 is the number of LD each participant receives at the different possible
                game endings. Between each turn of Game 1, 100LD was transferred from the smaller pile to the larger pile.
                Then, the two piles were swapped. In Game 2, the piles of money are first doubled. Then, the two
                piles are swapped. This is shown in the figure to the right.
                </p>
                {{ endif }}
                {{ if player.participant.game2 == 'standard' and player.participant.game1 == 'linear'}}
                <p>The difference in Game 2 is the number of LD each participant receives at the different possible
                game endings. Between each turn of Game 1, 100LD was added to both piles.
                Then, the two piles were swapped. In Game 2, the piles of money are first doubled. Then, the two
                piles are swapped. This is shown in the figure to the right.
                </p>
                {{ endif }}

            </td>
            <td style="padding-left: 2%">
                {{ if player.participant.game2 == 'standard' }}
                    <img class="image" src="{{ static 'centipede_game/Game1StandardExplanation2.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game2 == 'constant' }}
                    <img class="image" src="{{ static 'centipede_game/Game1ConstantExplanation2.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game2 == 'linear' }}
                    <img class="image" src="{{ static 'centipede_game/Game1LinearExplanation2.png' }}" style="width:100%;"/>
                {{ endif }}
            </td>
        </tr>
    </table>

    {{ next_button }}


{{ endblock }}

