{{ block title }}
    Game 1
{{ endblock }}
{{ block content }}

    <head>
    <style>
        .otree-title {
            background: #EEF5FF;
            font-size: 40px;
            text-align: center;
            padding: 5% 0% 2% 0%;
        }
        .otree-body {
            max-width:1600px
        }
        .otree-btn-next {
            float: right;
            margin-right: 1%;
        }
        p {
            font-size: 20px;
        }
    </style>
    </head>

    <table style="margin-top: 4%">
        <tr>
            <td style="width: 40%">
                <p>You will now participate in Game 1. Game 1 involves 2 participants who we will call the RED
                participant and the BLUE participant. It will be conducted once and only once.
                </p>
                {{ if player.participant.game1 == 'standard' }}
                <p> The game begins with RED’s turn. RED has two choices shown by the red lines: END or
                CONTINUE. If RED chooses END, the game ends and the participants receive the payments
                shown on the screen: 40LD for RED and 10LD for BLUE. </p>
                {{ endif }}
                {{ if player.participant.game1 == 'constant' }}
                <p> The game begins with RED’s turn. RED has two choices shown by the red lines: END or
                CONTINUE. If RED chooses END, the game ends and the participants receive the payments
                shown on the screen: 800LD for RED and 800LD for BLUE. </p>
                {{ endif }}
                {{ if player.participant.game1 == 'linear' }}
                <p> The game begins with RED’s turn. RED has two choices shown by the red lines: END or
                CONTINUE. If RED chooses END, the game ends and the participants receive the payments
                shown on the screen: 600LD for RED and 300LD for BLUE. </p>
                {{ endif }}
                <p>If RED chooses instead to CONTINUE, then the turn passes to BLUE whose choices will be
                shown on the next screen. </p>
                <p> (click 'Next' to advance to it) </p>
            </td>
            <td style="padding-left: 2%">
                {{ if player.participant.game1 == 'standard' }}
                    <img class="image" src="{{ static 'centipede_game/Game1StandardExplanation1.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game1 == 'constant' }}
                    <img class="image" src="{{ static 'centipede_game/Game1ConstantExplanation1.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game1 == 'linear' }}
                    <img class="image" src="{{ static 'centipede_game/Game1LinearExplanation1.png' }}" style="width:100%;"/>
                {{ endif }}
            </td>
        </tr>
    </table>

    {{ next_button }}


{{ endblock }}

