{{ block title }}
    Game 2
{{ endblock }}
{{ block content }}

    <head>
    <style>
        .otree-title {
            background: #EEF5FF;
            font-size: 40px;
            text-align: center;
            padding: 5% 0% 2% 0%;
        }
        .otree-body {
            max-width:1600px
        }
        .otree-btn-next {
            float: right;
            margin-right: 1%;
        }
        p {
            font-size: 20px;
        }
    </style>
    </head>

    <table style="margin-top: 4%">
        <tr>
            <td style="width: 40%">
                {{ if player.participant.game2 == 'constant'}}
                <p> <b>A key difference</b> for Game 2 versus Game 1 is that the combined payment to RED and BLUE is no
                longer increasing, but rather <b>staying constant</b>. The game flow and the payments for different
                combinations of choices are shown in the figure to the right. Understanding the new payments is crucial,
                so please take a minute to look over the following figure. </p>
                {{ endif }}

                {{ if player.participant.game2 == 'linear' and player.participant.game1 == 'constant'}}
                <p> <b>A key difference</b> for Game 2 versus Game 1 is that the combined payment to RED and BLUE is no
                no longer staying constant, but rather <b>increasing linearly (by the same amount each turn)</b>. The game flow and the payments for different
                combinations of choices are shown in the figure to the right. Understanding the new payments is crucial,
                so please take a minute to look over the following figure. </p>
                {{ endif }}
                {{ if player.participant.game2 == 'linear' and player.participant.game1 == 'standard'}}
                <p> <b>A key difference</b> for Game 2 versus Game 1 is that the combined payment to RED and BLUE is no
                longer increasing exponentially (doubling each time), but rather <b>increasing linearly (by the same
                amount each turn).</b> The game flow and the payments for different
                combinations of choices are shown in the figure to the right. Understanding the new payments is crucial,
                so please take a minute to look over the following figure. </p>
                {{ endif }}

                {{ if player.participant.game2 == 'standard' and player.participant.game1 == 'constant'}}
                <p> <b>A key difference</b> for Game 2 versus Game 1 is that the combined payment to RED and BLUE is no
                no longer staying constant, but rather <b>increasing exponentially (doubling each time)</b>. The game
                flow and the payments for different combinations of choices are shown in the figure to the right.
                Understanding the new payments is crucial, so please take a minute to look over the following figure. </p>
                {{ endif }}
                {{ if player.participant.game2 == 'standard' and player.participant.game1 == 'linear'}}
                <p> <b>A key difference</b> for Game 2 versus Game 1 is that the combined payment to RED and BLUE is no
                longer increasing linearly (by the same amount each turn), but rather <b>increasing exponentially (doubling each time)</b>. The game flow and the payments for different
                combinations of choices are shown in the figure to the right. Understanding the new payments is crucial,
                so please take a minute to look over the following figure. </p>
                {{ endif }}

            </td>
            <td style="padding-left: 2%">
                {{ if player.participant.game2 == 'standard' }}
                    <img class="image" src="{{ static 'centipede_game/exp6.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game2 == 'constant' }}
                    <img class="image" src="{{ static 'centipede_game/con6.png' }}" style="width:100%;"/>
                {{ endif }}
                {{ if player.participant.game2 == 'linear' }}
                    <img class="image" src="{{ static 'centipede_game/lin6.png' }}" style="width:100%;"/>
                {{ endif }}
            </td>
        </tr>
    </table>


    <div style="float: right">
        <button class = 'otree-btn-next btn btn-primary' id='next'>
        Next
        </button>
        <br> <br>
        <p id="warning_text" style="font-size:14px"> (Button will enable once you have had time to review the figure.) </p>
    </div>

    <script>
        document.getElementById("next").disabled = true;
        setTimeout(() => {
          document.getElementById("next").disabled = false;
          document.getElementById("warning_text").style.visibility = 'hidden';
        }, "20000");
    </script>




{{ endblock }}

