{{ block title }}
    Part 2: Game {{ player.round_number }} Review
{{ endblock }}
{{ block content }}

    <head>

    <style>
    h2 {text-align: center;}
    .otree-title {
        background: #EEF5FF;
        font-size: 40px;
        text-align: center;
        padding: 5% 0% 2% 0%;
    }
    .otree-body {
        max-width:1600px
    }
    .otree-btn-next {
        float: right;
        margin-right: 1%;
    }
    p {
        font-size: 20px;
    }

    datalist {
      display: flex;
      justify-content: space-between;
      color: black;
      width: 70%;
    }
    input{
        width: 70%;
    }
    .slider {
    margin-left: 5%;
    margin-right: 2%;
    width: 78%;
    }
    td {
    padding: 2% 2% 0% 0%;
    }
    </style>
    </head>

    <h2>Review Questionnaire </h2>

    {{ formfield 'ans1' label="1. Please describe the decision-making process you used in Game 3? (2-4 sentences - 60 character min)" }}

    <br>
    <p> 2. Please answer the following questions by pointing the slider to the point that best reflects
        your <b> beliefs prior to making any choice in the interaction </b> about behavior of the
    individual with whom you were randomly paired for this interaction: </p>

    <input type='hidden' name='ans2a' id='ans2a' value=0/>
    <input type='hidden' name='ans2b' id='ans2b' value=0 />
    <input type='hidden' name='ans2c' id='ans2c' value=0 />

    <table>
      <tr>
        <td style="width:60%"> I expected that if I continued at turn 1 then RED/BLUE would continue at turn 2
    with probability </td>
        <td> <input type="range" id="ans2a_visible" min="0" max="100" value="0" class="slider" oninput="updateQ2a(this)">
        <label><span id="ans2a_visible_label">  0 </span></label> <br> </td>
      </tr>
      <tr>
        <td>I expected that if I continued at turns 1 and 3 and RED/BLUE continued at turn 2,
    then RED/BLUE would continue in turn 4 with probability:</td>
        <td> <input type="range" id="ans2b_visible" min="0" max="100" value="0" class="slider" oninput="updateQ2b(this)">
        <label><span id="ans2b_visible_label">  0 </span></label> <br> </td>
      </tr>
      <tr>
        <td>I expected that if I continued at turns 1, 3 and 5 and RED/BLUE continued at
    turns 2 and 4, then RED/BLUE would continue at turn 6 with probability:</td>
        <td><input type="range" id="ans2c_visible" min="0" max="100" value="0" class="slider" oninput="updateQ2c(this)">
        <label><span id="ans2c_visible_label">  0 </span></label> <br></td>
      </tr>
    </table>

    <br>

    {{ formfield 'ans3' label="3. What decision-making process did you expect the other participant to follow, and did they play like you expected them to? (1-3 sentences - 40 character min)" }}
    <br>

    <input type='hidden' name='ans4' id='ans4' value=5 />
    <label for="ans4">4. Did you see the other participant primarily as a teammate or an opponent? </label><br>
    <input type="range" id="ans4_visible" min="0" max="10" list="tickmarksQ4" oninput="updateQ4(this)"> <br>

    <datalist id="tickmarksQ4">
      <option value=0 label="Teammate"></option>
      <option value=1></option>
      <option value=2></option>
      <option value=3></option>
      <option value=4></option>
      <option value=5 label="Even mix"></option>
      <option value=6></option>
      <option value=7></option>
      <option value=8></option>
      <option value=9></option>
      <option value=10 label="Opponent"></option>
    </datalist>

    <br>
    {{ formfield_errors "ans4" }}

    {{ if not participant.control }}
        <input type='hidden' name='ans5' id='ans5' value=5 />
        <label for="ans5">5. Did learning the IQ of the other participant effect the way you approached your strategy? </label><br>
        <input type="range" id="ans5_visible" min="0" max="10" list="tickmarksQ5" oninput="updateQ5(this)"> <br>

        <datalist id="tickmarksQ5">
          <option value=0 label="Not at all"></option>
          <option value=1></option>
          <option value=2></option>
          <option value=3></option>
          <option value=4></option>
          <option value=5 label="Some"></option>
          <option value=6></option>
          <option value=7></option>
          <option value=8></option>
          <option value=9></option>
          <option value=10 label="Massively"></option>
        </datalist>
        {{ formfield_errors 'ans5' }}

        {{ formfield 'ans6' label="6. Why or why not? (1-3 sentences) - 40 character min" }}


        <script>
        function updateQ5(input) {
            let value = parseInt(input.value);
            document.getElementById('ans5').value = value;
        }
        </script>
    {{ endif }}

    {{ if player.round_number == 3 }}
        <input type='hidden' name='ans7' id='ans7' value=5 />
        <label for="ans7"> Please indicate to what degree you agree with the following sentence: "IQ is an accurate gauge of Intelligence"</label><br>
        <input type="range" id="ans7_visible" min="0" max="10" list="tickmarksQ7" oninput="updateQ7(this)"> <br>

        <datalist id="tickmarksQ7">
          <option value=0 label="Strongly disagree"></option>
          <option value=1></option>
          <option value=2></option>
          <option value=3></option>
          <option value=4></option>
          <option value=5 label="Neutral"></option>
          <option value=6></option>
          <option value=7></option>
          <option value=8></option>
          <option value=9></option>
          <option value=10 label="Strongly agree"></option>
        </datalist>
        {{ formfield_errors 'ans7' }}

        <script>
        function updateQ7(input) {
            let value = parseInt(input.value);
            document.getElementById('ans7').value = value;
        }
        </script>
    {{ endif }}


    <script>
        function updateQ2a(input) {
            let value = parseInt(input.value) + "%";
            document.getElementById('ans2a').value = parseInt(input.value);
            document.getElementById('ans2a_visible_label').innerHTML = value;
        }
        function updateQ2b(input) {
            let value = parseInt(input.value) + "%";
            document.getElementById('ans2b').value = parseInt(input.value);
            document.getElementById('ans2b_visible_label').innerHTML = value;
        }
        function updateQ2c(input) {
            let value = parseInt(input.value) + "%";
            document.getElementById('ans2c').value = parseInt(input.value);
            document.getElementById('ans2c_visible_label').innerHTML = value;
        }
        function updateQ4(input) {
            let value = parseInt(input.value);
            document.getElementById('ans4').value = value;
        }

    </script>


    <button class = 'otree-btn-next btn btn-primary' id='next' style='visibility: visible'>
        Next
    </button>


{{ endblock }}

